server {
    listen 443 ssl;
    ssl_certificate {{ ssl_cert }};
    ssl_certificate_key {{ ssl_key }};
    server_name {{ host }};

    location /static {
        alias {{ provider_source_dir }}/static;
    }

    location / {
        proxy_set_header Host $host;
        proxy_pass http://unix:/tmp/provider.socket;
    }

    location = {{ client_registration_vhost }} {
        return 301 http://$http_host$request_uri/; # force trailing slash to make relative urls work
    }

    location ^~ {{ client_registration_vhost }}/static {
        alias {{ client_registration_dir }}/static;
    }

    location ~ {{ client_registration_vhost }}(/.*) {
        proxy_set_header Host $host;
        proxy_pass http://unix:/tmp/client_registration.socket:$1;
    }
}