description "Static client registration service for OpenID Connect Provider"

start on net-device-up
stop on shutdown

respawn


chdir {{ client_registration_dir }}

env OIDC_CLIENT_DB="{{ client_db }}"
exec {{ client_registration_virtualenv_dir }}/bin/gunicorn \
    --bind unix:/tmp/client_registration.socket \
    server:wsgi